<!-- main.html -->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
       
        <div class="overall-data">
            {% include 'team_overall_template.html' %}
        </div>

         <div class="team-series-data">
            {% include 'team_series_template.html' %}
        </div>

           <div class="player-series-data">
            {% include 'player_series_template.html' %}
            </div>


           <div class="player-round-data">
            {% include 'player_round_template.html' %}
            </div>
            

    </div>
</body>
</html>